<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Com.Nidec.Mes.Common.Basic.MachineMaintenance.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Com.Nidec.Mes.Common.Basic.MachineMaintenance.Properties.Settings>
            <setting name="APPLICATION_HEADER" serializeAs="String">
                <value>Viet Tien Company Warehouse System  </value>
            </setting>
            <setting name="CONNECTION_STRING" serializeAs="String">
                <value>Server=localhost;Port=5432;UserId=postgres;Password=12345;Database=mesdb;</value>
            </setting>
            <setting name="ApplicationTypeName" serializeAs="String">
                <value>Com.Nidec.Mes.Common.Basic.MachineMaintenance.MainForm</value>
            </setting>
            <setting name="AUTHENTIFICATE_FLAG" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SERVER_TIME_ZONE" serializeAs="String">
                <value>Singapore Standard Time</value>
            </setting>
        </Com.Nidec.Mes.Common.Basic.MachineMaintenance.Properties.Settings>
    </userSettings>
</configuration>